* {
    box-sizing: border-box;
}

.main { 
    width: 100%;
    background-position: center;
    background-size: cover;
    height: auto;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(Images/purple.jpg)
    }
